@model IEnumerable<PhotoSharingApplication.Models.Hotel>

@foreach (var item in Model)
{
    
<div class="photo-index-card">
    <h3>"@item.Name"</h3>
    
    @if (item.HotelPicture != null)
    {
        <img class="photo-index-card-img" src="@Url.Action("GetImage", "Hotel", new { id = item.HotelID })" />
    }
    
    <div class="photo-metadata">
        
        <div>
            <span class="display-label">
                Created By:
            </span>
            <span class="display-field">
                @Html.DisplayFor(model => item.UserName)
            </span>
        </div>
    
        <div>
            <span class="display-label">
                Created On:
            </span>
            <span class="display-field">
                @Html.DisplayFor(model => item.CreatedDate)
            </span>
        </div>

    </div>
    
    @Html.ActionLink("Display", "Display", new { id = item.HotelID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.HotelID })

    </div>
}