@model PhotoSharingApplication.Models.Hotel

@{
    ViewBag.Title = "Create New Hotel";
}

<h2>Create New Hotel</h2>

@using (Html.BeginForm("Create", "Hotel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.Name):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </span>
    </div>
            
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.HotelPicture)
        </span>
        <span class="editor-field">
            <input type="file" name="Image" />
        </span>
    </div>

    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.HotelSummary):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.HotelSummary)
            @Html.ValidationMessageFor(model => model.HotelSummary)
        </span>
    </div>
          
     <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.RoomSummary):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.RoomSummary)
            @Html.ValidationMessageFor(model => model.RoomSummary)
        </span>
    </div>
                 
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.Address):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </span>
    </div>
     
     <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.Web):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Web)
            @Html.ValidationMessageFor(model => model.Web)
        </span>
    </div>
    
     <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.Phone):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </span>
    </div>
    
     <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.City):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </span>
    </div>
    
     <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.UrlImage):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.UrlImage)
            @Html.ValidationMessageFor(model => model.UrlImage)
        </span>
    </div>
    
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.UserName):
        </span>
        <span class="editor-field">
            @Html.DisplayFor(model => model.UserName)
        </span>
    </div>

    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.CreatedDate):
        </span>
        <span class="editor-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </span>
    </div>
            
    <p>
        <input type="submit" value="Create" />
        @Html.ActionLink("Back to List", "Index")
    </p>
}
