@model PhotoSharingApplication.Models.Hotel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

@if (Model.HotelPicture != null) {
    <div class="photo-display">
        <img width="800" src="@Url.Action("GetImage", "Hotel", new { id = Model.HotelID })" />
    </div>
}

<h3>Hotel Description</h3>
<div class="photo-description">
    @Html.DisplayFor(model => model.HotelSummary)
</div>

<h3>Rooms Description</h3>
<div class="photo-description">
    @Html.DisplayFor(model => model.RoomSummary)
</div>

<h3>Address</h3>
<div class="photo-description">
    @Html.DisplayFor(model => model.Address)
</div>

<h3>Phone</h3>
<div class="photo-description">
    @Html.DisplayFor(model => model.Phone)
</div>

<h3>Phone</h3>
<div class="photo-description">
    @Html.DisplayFor(model => model.Web)
</div>

<h3>City</h3>
<div class="photo-description">
    @Html.DisplayFor(model => model.City)
</div>

@*<div >

    <div>
        <span class="display-label">
            @Html.DisplayNameFor(model => model.UserName):
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </span>
    </div>

    <div>
        <span class="display-label">
            @Html.DisplayNameFor(model => model.CreatedDate):
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </span>
    </div>
        
</div>*@

@Html.Action("_CommentsForPhoto", "Comment", new { HotelID = Model.HotelID })

<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete This Photo", "Delete", new { id = Model.HotelID })
</p>
